<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">
<head>
	<meta charset="UTF-8" />
	<title>Emprunts</title>
	<style>th, td { text-align: center; }</style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" />
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="container">
			    <p class="title">Gestion des emprunts</p>
			<form th:action="@{/emprunts/create}" method="get">
				<div class="field" style="margin-bottom: 2.4%">
					<div class="control">
						<button class="button is-primary">Ajouter un nouvel emprunt</button>
					</div>
				</div>
			</form>
					<div th:action="@{/emprunts}" method="get">
								<table class="table table-striped table-bordered" cellspacing="0">
									<thead>
									<tr>
										<th>N° emprunt</th>
										<th>Date</th>
										<th>Usager</th>
										<th>N° exemplaire</th>
										<th>Oeuvre</th>
										<th>Archiver</th>
									</tr>
									</thead>
									<tbody>
									<tr class="odd" role="row" th:each="emprunt:${emprunts}">
										<td th:text="${emprunt.idEmprunt}"></td>
										<td th:text="${emprunt.date}"></td>
										<td th:text="${emprunt.usager.prenom}+' '+${emprunt.usager.nom}"></td>
										<td th:text="${emprunt.exemplaire.idExemplaire}"></td>
										<td th:text="${emprunt.exemplaire.oeuvre.titre}"></td>
										<td>
											<form th:action="@{/emprunts/__${emprunt.idEmprunt}__}" th:method="delete">
												<div class="field">
													<div class="control">
														<button class="button is-black" type="submit">Archiver</button>
													</div>
												</div>
											</form>
										</td>
									</tr>
									</tbody>
								</table>
					</div>
		</div>
	</section>
</body>
</html>