<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">
<head>
	<meta charset="UTF-8" />
	<title>Gestion des exemplaires</title>
	<style>th, td { text-align: center; }</style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" />
</head>

<body>
	<section layout:fragment="custom-content">
		<div class="container">
			<p class="title">Gestion des exemplaires</p>
			<form th:action="@{/exemplaires/create}" th:method="get">
				<div class="field" style="margin-bottom: 2.4%">
					<div class="control">
						<button class="button is-primary">Ajouter un nouvel exemplaire</button>
					</div>
				</div>
			</form>
					<div>
								<table class="table table-striped table-bordered" cellspacing="0">
									<thead>
									<tr>
										<th>N° exemplaire</th>
										<th>Titre</th>
										<th>Auteur</th>
										<th>Genre</th>
										<th>Etat</th>
										<th>Modifier</th>
										<th>Supprimer</th>
									</tr>
									</thead>
									<tbody>
									<tr class="odd" role="row" th:each="e:${exemplaires}" th:id="${e.idExemplaire}">
										<td th:text="${e.idExemplaire}"></td>
										<td th:text="${e.oeuvre.titre}"></td>
										<td th:text="${e.oeuvre.auteur}"></td>
										<td th:text="${e.oeuvre.genre}"></td>
										<td th:text="${e.etat}"></td>
										<td>
											<form th:action="@{/exemplaires/__${e.idExemplaire}__/edit}" th:method="get">
												<div class="field">
													<div class="control">
														<button class="button is-danger" type="submit">Modifier</button>
													</div>
												</div>
											</form>
										</td>
										<td>
											<form th:action="@{/exemplaires/__${e.idExemplaire}__}" th:method="delete">
												<div class="field">
													<div class="control">
														<button class="button is-black" type="submit">Supprimer</button>
													</div>
												</div>
											</form>
										</td>
									</tr>
									</tbody>
								</table>
					</div>
		</div>
	</section>
</body>
</html>