<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <title>Mise à jour d'un exemplaire</title>
    <style>th, td { text-align: center; }</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" />


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#etat > option").each(function(){
                if ($(this).val() == $("#_etat").val()) $(this).attr('selected','selected');
            });
        });
    </script>
</head>

<body>
<section layout:fragment="custom-content">
    <div class="container">
        <p class="title">Mise à jour de l'exemplaire n°<span th:text="${exemplaire.idExemplaire}"></span> de l'oeuvre <span th:text="${exemplaire.oeuvre.titre}"></span></p>
        <form th:action="@{/exemplaires/__${exemplaire.idExemplaire}__}" th:method="put">
            <div class="field">
                <label class="label">Oeuvre sélectionnée</label>
                <div class="control">
                    <input class="input" type="text" name="oeuvre" disabled="disabled" th:value="${exemplaire.oeuvre.titre}" />
                </div>
            </div>

            <div class="field">
                <label class="label">Etat de l'exemplaire</label>
                <div class="select">
                    <select th:id="etat" th:name="etat">
                        <option th:each="etat:${T(com.bibal.util.EtatExemplaire).values()}" th:value="${etat}" th:text="${etat}"></option>
                    </select>
                    <input class="input" type="hidden" id="_etat" th:value="${exemplaire.etat}" />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-danger">Modifier</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>