<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mise à jour de l'oeuvre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" />
</head>
<body>
<section>
    <div class="container">
        <p class="title">Mise à jour de l'oeuvre <span th:text="${oeuvre.titre}"></span></p>
        <form th:action="@{/oeuvres/__${oeuvre.idOeuvre}__}" th:method="put">
            <input type="hidden" name="id" th:value="${oeuvre.idOeuvre}" />
            <div class="field">
                <label class="label">Titre</label>
                <div class="control">
                    <input class="input" type="text" name="titre" th:value="${oeuvre.titre}" />
                </div>
            </div>

            <div class="field">
                <label class="label">Auteur</label>
                <div class="control">
                    <input class="input" type="text" name="auteur" th:value="${oeuvre.auteur}" />
                </div>
            </div>

            <div class="field">
                <label class="label">Genre</label>
                <div class="control">
                    <input class="input" type="text" name="genre" th:value="${oeuvre.genre}" />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-danger">Modifier</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>