<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">
<head>
    <meta charset="UTF-8" />
    <title>Création d'un usager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" />
</head>

<body>
<section layout:fragment="custom-content">
    <div class="container">
        <p class="title">Création d'un usager</p>
        <form th:action="@{/usagers}" th:method="post">
            <div class="field">
                <label class="label">Prénom</label>
                <div class="control">
                    <input class="input" type="text" name="prenom" placeholder="Guillaume" />
                </div>
            </div>

            <div class="field">
                <label class="label">Nom</label>
                <div class="control">
                    <input class="input" type="text" name="nom" placeholder="Bertrand" />
                </div>
            </div>

            <div class="field">
                <label class="label">Adresse</label>
                <div class="control">
                    <input class="input" type="text" name="adresse" placeholder="15 rue des Tulipiers" />
                </div>
            </div>

            <div class="field">
                <label class="label">E-mail</label>
                <div class="control">
                    <input class="input" type="email" name="mail" placeholder="g.bertrand@bibal.com" />
                </div>
            </div>

            <div class="field">
                <label class="label">Téléphone</label>
                <div class="control">
                    <input class="input" type="tel" name="telephone" placeholder="0695847564" />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary">Valider</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>