<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <title>Mise à jour d'une réservation</title>
    <style>th, td { text-align: center; }</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" />

    <!-- input pour les dates sympathiques : flatpickr-->
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css"/>
    <script src="https://unpkg.com/flatpickr"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#statut > option").each(function(){
                if ($(this).val() == $("#_statut").val()) $(this).attr('selected','selected');
            });
            flatpickr('#date');
        });
    </script>
</head>

<body>
<section layout:fragment="custom-content">
    <div class="container">
        <p class="title">Mise à jour de la réservation n°<span th:text="${reservation.idReservation}"></span></p>
        <form th:action="@{/reservations/__${reservation.idReservation}__}" th:method="put">
            <div class="field">
                <label class="label">Usager</label>
                <div class="control">
                        <input class="input" type="text" th:name="idUsager" disabled="disabled" th:value="${reservation.usager.prenom}+' '+${reservation.usager.nom}" />
                </div>
            </div>

            <div class="field">
                <label class="label">Oeuvre</label>
                <div class="control">
                    <div class="control">
                          <input class="input" type="text" th:name="idOeuvre" disabled="disabled" th:value="${reservation.oeuvre.titre}" />
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Date de réservation</label>
                <div class="control">
                    <input autocomplete="off" class="datereservation input" id="date" name="date"
                           required="required" readonly="readonly" placeholder="Date de réservation" th:value="${reservation.date}" />
                </div>
            </div>

            <div class="field">
                <label class="label">Statut de la réservation</label>
                <div class="select">
                    <select th:id="statut" th:name="statut" required="required">
                        <option th:each="statut:${T(com.bibal.util.StatutReservation).values()}"
                                th:value="${statut}"
                                th:text="${statut}">
                        </option>
                    </select>
                    <input class="input" type="hidden" id="_statut" th:value="${reservation.statut}" />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-danger">Modifier</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>