<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 	  
 	  layout:decorator="template">	  
 	<head>
		<meta charset="utf-8" />	
  		<title>Accueil</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css"></link>
	</head>
	<body>
	<section layout:fragment="custom-content">
		<img th:src="@{/images/bibliotheque.jpg}" alt="bibliotheque image" style="padding: 2% 25% 2% 25%" />
		<p>ADD SOME STATS ABOUT OUR BIBAL APP ? </p>
    </section>
</body>
</html>
	