<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">
 	<head>
		<meta charset="utf-8" />	
  		<title>Accueil</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" />
		<style>
			.iframeContainer{
				position:relative;
			}

			.iframeBlocker{
				position:absolute;
				width:100%;
				height:402px;
				opacity:0.5;
			}

			iframe, .iframeContainer {
				width: 100%;
				height: 402px;
			}
		</style>
	</head>
	<body>
	<section layout:fragment="custom-content">
		<p style="text-align: center; font-size: 18px; color: black;">
			Bienvenue sur notre site concernet le projet "Bibal" dans lequel nous modélisons la gestion
			d'un système d'information relatif à une bibliothèque.<br />
			Cette réalisation a été effectuée dans le cadre du cours d'applications distribuées.
		</p>
		<br />
		<br />
		<p>
			<div class="iframeContainer">
				<div class="borderContainer">
					<div class="iframeBlocker"></div>
					<iframe src="https://giphy.com/embed/128MHrlrHNwwU0" frameBorder="0" class="giphy-embed"></iframe>
				</div>
			</div>
		</p>
    </section>
</body>
</html>
	