<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>template</title>
	<style th:inline="text">
		th, td, tr { text-align: center;}
	</style>
</head>
<body>
	<header>

		<nav class="navbar is-transparent">
			<div class="navbar-brand">
				<a class="navbar-item" th:href="@{/}">
                    <img th:src="@{/images/logo.png}" alt="Bibal bonne librairie" width="50" height="40" />
				</a>

				<a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
                    <span class="icon" style="color: #333;">
                        <i class="fa fa-lg fa-github"></i>
                    </span>
				</a>

				<a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
                      <span class="icon" style="color: #55acee;">
                            <i class="fa fa-lg fa-twitter"></i>
                      </span>
				</a>

			</div>

			<div id="navMenuTransparentExample" class="navbar-menu">
				<div class="navbar-start">
					<div class="navbar-item"><a th:href="@{/usagers}">Usagers</a></div>
					<div class="navbar-item"><a th:href="@{/oeuvres}">Oeuvres</a></div>
					<div class="navbar-item"><a th:href="@{/exemplaires}">Exemplaires</a></div>
					<div class="navbar-item"><a th:href="@{/reservations}">Réservations</a></div>
					<div class="navbar-item"><a th:href="@{/emprunts}">Emprunts</a></div>
				</div>

				<div class="navbar-end">
					<a class="navbar-item is-hidden-desktop-only" href="https://github.com/jgthms/bulma" target="_blank">
                        <span class="icon" style="color: #333;">
                          <i class="fa fa-lg fa-github"></i>
                        </span>
					</a>
					<a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/jgthms" target="_blank">
                        <span class="icon" style="color: #55acee;">
                          <i class="fa fa-lg fa-twitter"></i>
                        </span>
					</a>
				</div>
			</div>
		</nav>
	</header>
	<hr/>
	<section layout:fragment="custom-content" style="min-height: 300px; margin-bottom: 12%;">
	</section>
	<footer class="footer" style="padding: 2% 2%;">
		<div class="container">
			<div class="content has-text-centered">
                <p>Réalisé par Guillaume Bertrand et Khaled Bouguettoucha</p>
				<p>Code source sous licence <a href="http://opensource.org/licenses/mit-license.php" style="color:black;">MIT</a></p>
			</div>
		</div>
	</footer>
</body>
</html>
