<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>template</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-default custom-header">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand navbar-link" th:href="@{/index}"> Bibal</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<div class="collapse navbar-collapse" id="navbar-collapse">
						<ul class="nav navbar-nav navbar-right links">
							<li role="presentation"><a href="index" th:href="@{/index}"><span
									class="glyphicon glyphicon-home"></span><strong>
										Accueil</strong></a></li>
							<li role="presentation"><a href="ListeUsagers"
								th:href="@{/ListeUsagers}"><span
									class="glyphicon glyphicon-user"></span><strong>
										Usagers</strong></a></li>
							<li role="presentation"><a href="Livres"
								th:href="@{/Livres}"><span class="glyphicon glyphicon-book"></span><strong>
										Livres</strong></a></li>
							<li role="presentation"><a href="Magazines"
								th:href="@{/Magazines}"><span
									class="glyphicon glyphicon-file"></span><strong>
										Magazines</strong></a></li>
							<li role="presentation"><a href="Emprunts"
								th:href="@{/Emprunts}"><span
									class="glyphicon glyphicon-transfer"></span><strong>
										Emprunts</strong></a></li>
							<li role="presentation"><a href="Reservations"
								th:href="@{/Reservations}"><span
									class="glyphicon glyphicon-tasks"></span><strong>
										Réservations</strong></a></li>
							<li role="presentation"><a href="About"
								th:href="@{/About}"><span
									class="glyphicon glyphicon-info-sign"></span><strong>
										About</strong></a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right"></ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<section layout:fragment="custom-content" style="min-height: 300px">
	</section>
	<footer class="footer">
		<div>
			<p></p>
		</div>
	</footer>
</body>

</html>
